*.log
*.aux
*.toc
*.bbl
*.blg
*.swp
*.out
*.kate-swp
main.pdf
*.tex.backup
.directory
cfb.kilepr
book.pdf
tree.pdf
tree.png
CFB_monogram.pdf
main.brf
main.idx
main.ilg
main.ind
cache/
output/
vendor/
