{% set target = database.query('select * from pages where id = "/'~shortcode.attrs.1~'"').fetch %}
{% if shortcode.attrs.2 is defined %}
    {% set label = shortcode.attrs.2 %}
{% else %}
    {% set label = target.title %}
{% endif %}
{% if label == '' %}
    {% set label = shortcode.attrs.1 %}
{% endif %}
<a href="{{ page.link('/'~shortcode.attrs.1) }}.html" title="{{ target.title }}">{{ label }}</a>
