{% extends '_base.html.twig' %}

{% block main %}

    <h2>Welcome to the C.F. Barker Archives</h2>

    <h3>Contributions</h3>
    <p>
        Everyone is invited to contribute to all of this, via
        <a href="https://github.com/samwilson/cfb">
            github.com/samwilson/cfb</a>.
        If you find any errors, please
        <a href="https://github.com/samwilson/cfb/issues">report them</a>.
    </p>
    <p>
        All content (unless otherwise specified) is released under a
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution-ShareAlike 4.0 International License</a>.
    </p>
    <p class="hidden-xs">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons Licence"
                 src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
    </p>

{% endblock %}
