{% extends '_base.html.twig' %}

{% block main %}
    {% import '_macros.twig' as macros %}

    <h2>Items</h2>
    <ol>
        {% for item in database.query('select * from pages where template="item" order by date asc') %}
            <li>
                <strong>Item {{item.id|basename}}:</strong>
                {% if item.date %}
                    {{ macros.date(item.date, item.date_precision) }}
                {% endif %}
                <a href="{{ page.link(item.id) }}.html">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ol>

{% endblock %}
