{% extends '_base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script>
        var map = L.map('map')
            .setView({lon: -1.5495, lat: 53.4414}, 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright" rel="copyright">OpenStreetMap contributors</a>'
        }).addTo(map);
        L.control.scale().addTo(map);

        {% for marker in page.metadata.markers %}
            L.marker({lon: {{ marker.lon }}, lat: {{ marker.lat }}}).bindPopup( '{{ marker.label }}' ).addTo(map);
        {% endfor %}

    </script>
{% endblock %}

{% block main %}
    <div id="map"></div>
{% endblock %}
