{% extends '_base.html.twig' %}

{% block main %}

    <h2>Storage locations</h2>
    <ol>
        {% for sl in database.query('select * from pages where id in (
        select "/storage-locations/"||storage_location from pages where storage_location is not null group by storage_location
        ) order by title') %}
            <li><a href="{{ page.link(sl.id) }}.html">{{ sl.title }}</a></li>
        {% endfor %}
    </ol>

{% endblock %}
